.brand-name-wrapper {
    text-align: center;
}
.navbar-default {
    background-color: #fff;
}
.sidebar {
    width: 270px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #f5f7f9;
    color: #fff;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .sidebar {
        margin-left: -270px;
    }
}

.navbar-header {
    width: 100%;

    margin-bottom: 20px;
    background: #fff;
}

.navbar-nav {
    border: 0 none;
    box-shadow: none;
    margin: 0;
    background: inherit;
}

a {
    padding: 15px;
    color: #5f5f5f;
}

a:hover {
    text-decoration: none;
}

h2 {
    font-size: 25px;
    padding: 15px;
    color: #5f5f5f;
}

ul.ns {
    position: relative;
    padding: 0;
    list-style: none;
}

#logout {
    padding-top: 60vh;
    text-align: center;
}

button {
    width: 100px;
}

.btn-outline-danger {
    background-color: #ff3333;
    color: white;
}
